<section class="activities">
  <header>
    <h2 class="colorfont">
        Privacy
    </h2>
  </header>

  <br>
  <b>Say we rad is built with your privacy in mind</b>
  <br>
  <br>
  <article>
    By using this site say we rad. We will not spam you, or give your email to 3rd parties.  
  </article>
</section>
