<section class="activities">
  <header>
    <h2 class="colorfont">
        Technologies
    </h2>
  </header>

  <br>
  <b>Say we rad is built with open source software: </b>
  <br>
  <br>
  <article>
    <%= link_to 'ruby', 'http://www.ruby-lang.org/' %>
  </article>
  <article>
    <%= link_to 'rails', 'http://rubyonrails.org/' %>
  </article>
  <article>
    <%= link_to 'Social Stream', 'https://github.com/ging/social_stream' %>
  </article>
  <article>
    <%= link_to 'AWS', 'http://aws.amazon.com/' %>
  </article>
</section>
