<section class="activities">
  <header>
    <h2 class="colorfont">
        Terms of service
    </h2>
  </header>

  <br>
  <b>Say we rad is built with your freedoms in mind</b>
  <br>
  <br>
  <article>
    By using this site say we rad
  </article>
</section>
