
$purple: #7c627b
$dark_purple: #5f405e
$light_purple: #a895b6

/* all pages / frontpage */

body 
  background-image: url('tileable_marble.png')
  background-repeat: repeat

a
  color: $purple
  text-decoration: underline

a:hover, a:focus
  text-decoration: underline
  color: black

.wrapper

.logo-header
  background-color: white
  .logo_image
    margin-top: 0px

.logo
  min-height: 35px

  
.headerFront .logo
  margin-top: 0

.bricks
  background-image: url('brick.png')
  background-repeat: repeat
  width: 100%
  height: 10px

footer #mascot.container-fluid
  background-color: #F9F9F9
  background: -moz-linear-gradient(top, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,0)), color-stop(100%,rgba(249,249,249,1))) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%) /* IE10+ */
  background: linear-gradient(to bottom, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=0 ) /* IE6-9 */

.gray-border
  background-color: #E3E3E3
  height: 7px
  width: 100%
  margin-top: 12px

.content
  margin-top: 15px

#frontpage .explanation, #new_session .explanation
  border-left: 12px solid #7c627b

#frontpage .explanation .btn, #frontpage .explanation .connectChatButton, #new_session .explanation .btn, #new_session .explanation .connectChatButton
  text-decoration: none
  background-color: $purple


#frontpage .explanation .btn:hover, #frontpage .explanation .connectChatButton:hover, #new_session .explanation .btn:hover, #new_session .explanation .connectChatButton:hover
  border: 1px solid $purple
  background-color: white !important
  text-decoration: none
  color: $purple

.timeline .media .media-body .event .details input[type="submit"]
  border: 1px solid $purple

.timeline .media .media-body .event .details input[type="submit"]:hover
  background-color: $purple !important

input[type="submit"]
  border: 1px solid $purple

input[type="submit"]:hover
  background-color: $purple !important

.activities .wall_input input[type="submit"]
  text-decoration: none
  background-color: $purple
  border-color: $purple

.activities .wall_input input[type="submit"]:hover
  border: 1px solid $purple
  background-color: white !important
  text-decoration: none
  color: $purple

.characteristics .img 
  vertical-align: middle
  width: 265px
  height: 265px
  table
    td
      vertical-align: middle
      text-align: center
      img
        max-width: 260px
        max-height: 260px

.mascot
  margin-left: auto
  width: 158px
  height: 166px
  padding-bottom: 8px

.purple-pattern
  background-image: url('footer_pattern.png')
  background-repeat: repeat-x
  width: 100%
  height: 59px

.dark-logo
  position: relative
  top: 7px
  margin-right: 12px
  margin-left: auto
  background-repeat: none
  width: 186px
  height: 39px
  

/* home */
header .navbar-inner .search-nav
  margin-top: -9px

header .navbar-inner .explore-nav
  margin-top: 14px
  line-height: 1em
  height: 1em

header .navbar-inner .logo, header .navbar-inner .logo-responsive
  padding: 0


#sidebar
  background-color: #F9F9F9
#toolbar
  background-color: #F9F9F9

.activities, #profile-info
  background-color: #F9F9F9
  
#sidebar #suggestions .contact .add .btn-group button, #sidebar #pendings .contact .add .btn-group button
  border: 1px solid $purple
  background-color: white !important
  text-decoration: none
  color: $purple

#sidebar #suggestions .contact .add .btn-group button:hover, #sidebar #pendings .contact .add .btn-group button:hover
  background-color: $purple !important

#sidebar #suggestions .contact .add .btn-group button .caret, #sidebar #pendings .contact .add .btn-group button .caret, .activities .wall_input .form-privacy .btn-group button .caret, #contacts .contacts .add .btn-group button .caret, 
#sidebar #suggestions .contact .add .open .btn .caret, #sidebar #suggestions .contact .add .open .connectChatButton .caret, #sidebar #pendings .contact .add .open .btn .caret, #sidebar #pendings .contact .add .open .connectChatButton .caret,
#toolbar .contact-button .btn-group button .caret, #toolbar .contact-button .open .btn .caret, #toolbar .contact-button .open .connectChatButton .caret
  border-bottom-color: $purple
  border-top-color: $purple

.activities .wall_input .form-privacy .btn-group button
  border: 1px solid $purple

.activities .wall_input .form-privacy .btn-group button:hover
  background-color: $purple !important

#days tbody tr .today
  border: 1px solid $purple !important
#days tbody tr .today a
  color: $purple

#user #new_comment .btn, #user #new_comment .connectChatButton, #group #new_comment .btn, #group #new_comment .connectChatButton, #home #new_comment .btn, #home #new_comment .connectChatButton, #time-line #new_comment .btn, #time-line #new_comment .connectChatButton
  background-color: $purple
  background-image: none


/*navigation / toolbar buttons */
.toolbar-profile .toolbar_menu ul li .icon_navbar-resources
  background-position: -175px -8px

.toolbar-profile .toolbar_menu ul li
  border: 1px solid $purple

.toolbar-profile .toolbar_menu ul li:hover
  background-color: $purple !important

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus
  background-color: $purple !important
  background-image: none
  color: white

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a
  background-color: $dark_purple !important
  background-image: none

#toolbar .contact-button .btn-group button
  border: 1px solid $purple
#toolbar .contact-button .btn-group button:hover
  background-color: $purple !important

/*contacts */
#contacts .contacts
  background-color: #F9F9F9

#contacts .contacts .add .btn-group button
  border: 1px solid $purple

#contacts .contacts .add .btn-group button:hover
  background-color: $purple !important

/* events */
#calendar .fc-button.fc-state-disabled
  background-color: $purple !important
  border: 1px solid $purple

#calendar .fc-button.fc-state-default
  border: 1px solid $purple
  color: $purple

#calendar .fc-button.fc-button-next.fc-state-default, #calendar .fc-button.fc-button-prev.fc-state-default
  color: $purple
#calendar .fc-button.fc-button-next.fc-state-default:hover, #calendar .fc-button.fc-button-prev.fc-state-default:hover
  color: white

#calendar .fc-button.fc-state-default.fc-button-agendaWeek, #calendar .fc-button.fc-state-default.fc-button-month, #calendar .fc-button.fc-state-default.fc-button-agendaDay
  color: $purple
#calendar .fc-button.fc-state-default.fc-button-agendaWeek:hover, #calendar .fc-button.fc-state-default.fc-button-month:hover, #calendar .fc-button.fc-state-default.fc-button-agendaDay:hover
  color: white

#calendar .fc-button.fc-state-default:hover
  background-color: $purple !important
  border: 1px solid white

#calendar .fc-button.fc-state-active
  background-color: $light_purple !important
  color: white !important

#calendar .fc-button:hover
  color: white !important

#calendar .fc-button.fc-state-active:hover
  color: white


/* alert */
.alert-notice
  background-color: $light_purple 
  color: white
  border: 1px solid $purple

/* conversations */
.conversations
  background-color: #f9f9f9

#conversations .conversations .conversation .content_left .avatar img
  max-width: 85px
  max-height: 85px

.conversation_full .message .media .pull-left img
  max-width: 50px
  max-height: 50px

/*groups */
.toolbar-profile .toolbar_menu ul li:hover .icon_navbar-message 
  background-position: -55px -41px

/* loading */
.progress-striped .bar
  background-color: $light_purple

/* search */
#explore-content
  background-color: #F9F9F9
#explore-header .btn, #explore-header .connectChatButton
  border: 1px solid $purple
#explore-header .btn:hover, #explore-header .connectChatButton:hover
  background-color: $purple !important
#explore-header .btn.active, #explore-header .active.connectChatButton
  background-color: $purple !important

/*chat */
#chat_partial .chat_off input[type="submit"]
  border: 1px solid $purple
#chat_partial .chat_off input[type="submit"]:hover
  background-color: $purple

/*profile */
#profile #profile-info .avatar form.edit_actor
  background-color: transparent

.edit_icon
  a
    text-decoration: none

#profile #profile-info .tags .briefing span, #profile #profile-info .personal .briefing span, #profile #profile-info .comunication-info .briefing span, #profile #profile-info .experience .briefing span, #profile #profile-info .avatar .briefing span
  background-color: $light_purple 
  color: white
  border: 1px solid $purple

#profile #profile-info .tags form.edit_profile input[type="submit"], #profile #profile-info .personal form.edit_profile input[type="submit"], #profile #profile-info .comunication-info form.edit_profile input[type="submit"], #profile #profile-info .experience form.edit_profile input[type="submit"], #profile #profile-info .avatar form.edit_profile input[type="submit"]
  background-color: $purple 

#profile #profile-info .tags form.edit_profile input[type="submit"]:hover, #profile #profile-info .personal form.edit_profile input[type="submit"]:hover, #profile #profile-info .comunication-info form.edit_profile input[type="submit"]:hover, #profile #profile-info .experience form.edit_profile input[type="submit"]:hover, #profile #profile-info .avatar form.edit_profile input[type="submit"]:hover
  background-color: white !important
  border: 1px solid $purple
  color: $purple

.select2-container
  padding-bottom:  17px
/* about */
.credits
  background-color: #F9F9F9
.left 
  float: left

.clear
  clear: both

.personnel
  margin-top: 15px
  background-color: white
  width: 700px
  height: auto

.personnel_image 
  width: 170px
  .photo
    max-width: 150px
    max-height: 150px
.personnel .info
  width: 500px
.credits
  margin-top: 80px

/* pictures */
#comments div.new_comment form.new_comment input[type="submit"]
  background-color: $purple
#comments div.new_comment form.new_comment input[type="submit"]:hover
  color: $purple
  border: 1px solid $purple
#document-info .counters .counter, .picture .details .tab-content, .audio .details .tab-content, .video .details .tab-content, .documents .details .tab-content
  color: $light_purple 

/*files / repository */
.repository
  background-color: #f9f9f9
#repository .repository .btn, #repository .repository .connectChatButton
  border: 1px solid $purple
  text-decoration: none
#repository .repository .btn:hover, #repository .repository .connectChatButton:hover
  background-color: $purple !important

/* notifications */
.notifications
  background-color: #f9f9f9
#notifications .notifications .read_all a:hover
  color: $dark_purple

/* input focus */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
  border-color: rgba(168, 149, 182, 0.8)
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(168, 149, 182, 0.6)
  outline: 0 none

/* relations */
.relation_customs
  background-color: #F9F9F9

.postit
  font-size: 14pt
    
#new_relation .new_relation_custom .btn, #new_relation .new_relation_custom .connectChatButton
  background-color: $purple
#new_relation .new_relation_custom .btn:hover, #new_relation .new_relation_custom .connectChatButton:hover
  border: 1px solid $purple
  color: $purple

/* settings */
.settings
  background-color: #f9f9f9

/* errors */

#error_explanation 
  margin-left: 0
  h2
    font-size: 12pt

section#forgot-pass section.forgot header form#new_user.new_user div#error_explanation h2
  margin-left: 0
